#login-email-error{
  background-color: #fff2f2;
  border: 1px solid #f77474;
  &:focus{
    outline: none;
    box-shadow: none;
  }
  &::placeholder{
    color: #f77474;
  }
}
#login-password-error{
  background-color: #fff2f2;
  border: 1px solid #f77474;
  &:focus{
    outline: none;
    box-shadow: none;
  }
  &::placeholder{
    color: #f77474;
  }
}