.hat-detail-image {
  margin-right: 24px;
  img {
    max-height: 450px;
    max-width: 300px;
    object-fit: cover;
  }
}
@media screen and (max-width: 550px) {
  .hat-detail-image {
    margin-right: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
}
