@import "../../style/variables.scss";
.cart-container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
}
.cart-container-light {
  background-color: $bg-color-light;
}
.cart-container-dark {
  background-color: $bg-color-dark;
}
.cart-wrapper {
  margin: 20px 220px;
  width: 100%;
}
.cart-items {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 8px 24px 8px 8px;
}
.cart-items-light {
  border: 1px solid $light-box-shadow;
  box-shadow: 5px 5px 5px rgb(214, 214, 214);
}
.cart-items-dark {
  border: 1px solid #4d4d4d;
  box-shadow: 5px 5px 5px rgb(20, 20, 20);
}
.cart-image {
  max-height: 100px;
  width: auto;
  margin-right: 24px;
  img {
    height: 100px;
    max-width: 65px;
    width: auto;
  }
}
.cart-items-info {
  display: flex;
  flex-direction: column;
}
.cart-title {
  p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 36px;
  }
}
.cart-title-light {
  p {
    color: $text-color-1;
  }
}
.cart-title-dark {
  p {
    color: white;
  }
}
.cart-price {
  p {
    width: 96px;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    color: $white;
    font-size: 20px;
    background-color: $text-color-1;
  }
}
.cart-items-right-side {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-from-cart-button {
  color: #f77474;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: none;
}
.cart-subtotal {
  p {
    border-radius: 8px;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    float: right;
    background-color: $blue;
    span {
      font-weight: 400;
      font-size: 20px;
    }
  }
}
