@import "../../style/variables.scss";
.tshirt-detail-wrapper {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.tshirt-detail-wrapper-light {
  background-color: $bg-color-light;
}
.tshirt-detail-wrapper-dark {
  background-color: $bg-color-dark;
}
.tshirt-detail {
  margin: 40px 220px;
  display: flex;
  border-radius: 8px;
  padding: 16px;
  max-height: 484px;
  width: 100%;
}
.tshirt-detail-light {
  border: 1px solid $light-box-shadow;
  box-shadow: 5px 5px 5px rgb(214, 214, 214);
}
.tshirt-detail-dark {
  border: 1px solid #4d4d4d;
  box-shadow: 5px 5px 5px rgb(20, 20, 20);
}

.tshirt-detail-image {
  margin-right: 24px;
  img {
    border-radius: 8px;
    height: 450px;
    width: 300px;
    object-fit: cover;
  }
}
.tshirt-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tshirt-detail-info-light {
  color: $text-color-1;
}
.tshirt-detail-info-dark {
  color: white;
}
.tshirt-detail-title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}
.tshirt-detail-desc {
  margin-bottom: 16px;
}
.tshirt-detail-color {
  font-weight: 700;
  span {
    font-weight: 400;
  }
}
.tshirt-detail-price {
  margin-bottom: 16px;
  font-weight: 700;
  span {
    font-weight: 400;
  }
}
.add-to-cart-button {
  width: 200px;
  background-color: orange;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  font-weight: 700;
}
.add-to-cart-button-disabled {
  width: 200px;
  background-color: rgb(190, 124, 0);
  border: 1px solid black;
  outline: none;
  cursor: initial;
  padding: 8px;
  border-radius: 8px;
  font-weight: 700;
}
.Toastify__toast-container--top-right {
  top: 80px !important;
  
}
@media screen and (max-width: 1550px) {
  .tshirt-detail {
    margin: 20px 120px;
  }
}
@media screen and (max-width: 1050px) {
  .tshirt-detail {
    margin: 10px 60px;
  }
}
@media screen and (max-width: 750px) {
  .tshirt-detail {
    margin: 10px 30px;
  }
}
@media screen and (max-width: 550px) {
  .tshirt-detail {
    margin: 10px 10px;
    flex-direction: column;
    height: auto;
    max-height: none;
  }
  .tshirt-detail-image {
    margin-right: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .add-to-cart-button {
    width: 100%;
  }
  .add-to-cart-button-disabled {
    width: 100%;
  }
}
