@import "../../style/variables.scss";
.product-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 220px;
}
.product-container-light{
  background-color: $bg-color-light;
}
.product-container-dark{
  background-color: $bg-color-dark;
}

.product-card {
  flex: 0 1 24%;
  padding: 10px;
  border: 1px solid $light-box-shadow;
  background-color: rgb(228, 227, 227);
  border-radius: 8px;
  max-width: 320px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px rgb(98, 98, 98);
  cursor: pointer;
  &:hover{
    transform: translateY(-2px);
    box-shadow: 7px 7px 2px rgb(98, 98, 98);
  }
}
.image {
  img {
    width: 100%;
    max-width: 300px;
    min-height: 450px;
    max-height: 450px;
    object-fit: cover;
  }
}
.product-info{
  display: flex;
  justify-content: space-between;
}