@import "../../style/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');
.header {
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.header-light {
  background-color: #3b3b3b;
}
.header-dark {
  background-color: #1b1b1b;
}
.nav {
  margin: 0 220px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
}
.header-title-light {
  color: aliceblue;
}
.header-title-dark {
  color: aliceblue;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  a {
    padding: 10px 30px;
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      outline: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
.menu-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  a {
    padding: 10px 30px;
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      outline: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
.user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  float: right;
  margin-top: 4px;
  margin-right: 8px;
}
.user-light {
  color: white;
}
.user-dark {
  color: white;
}
.dropbtn {
  background-color: orange;
  color: white;
  padding: 2px;
  border: none;
  display: flex;
  p {
    padding: 8px;
    border-bottom: 1px solid #3a3a3a;
  }
}
.dropdown-button-wrapper {
  display: flex;
  flex-direction: column;
}
.dropdown-content {
  // border: 1px solid $light-placeholder-color;
  // border-radius: 8px;
  display: none;
  position: absolute;
  top: 28px;
  right: 6px;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content button:hover {
  background-color: $bg-color-dark;
}
.user:hover .dropdown-content {
  display: block;
}
.user:hover .dropbtn {
  background-color: #333333;
  outline: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-logout-buttons {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.logout-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #333333;
  border-radius: 8px;
  &:hover {
    outline: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.theme-button {
  margin: 0;
  background-color: $bg-color-dark;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #333333;
  border-radius: 8px;

  &:hover {
    outline: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.header-login-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  float: right;
  button {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    background-color: #3b3b3b;
    color: $bg-color-light;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      outline: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
.mobile-menu {
  display: none;
}
.lang-buttons {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  button {
    border: none;
    outline: none;
    background-color: #333333;
    color: white;
    border-radius: 4px;
    &:hover {
      background: orange;
    }
  }
}
@media screen and (max-width: 1550px) {
  .nav {
    margin: 0 120px;
  }
}
@media screen and (max-width: 1050px) {
  .nav {
    margin: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .nav {
    margin: 0 30px;
  }
  .header-title {
    font-size: 24px;
  }
  .user {
    margin-top: 0;
    margin-right: 0;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;
  }
  .menu {
    display: none;
  }
  .menu-dark {
    display: none;
  }
  .mobile-menu:hover .dropdown-content {
    display: block;
  }
  .mobile-menu:hover .dropdown-content-mobile {
    display: block;
  }
  .mobile-menu:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.1);
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }
  .dropdown-content {
    top: 22px;
    right: 0;
  }
  .dropdown-content-mobile {
    border: 1px solid $light-placeholder-color;
    border-radius: 8px;
    display: none;
    position: absolute;
    top: 48px;
    right: 20px;
    background-color: $bg-color-dark;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropbtn-categories {
    color: white;
    border: none;
    div {
      padding: 8px;
      border: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .dropbtn-categories-light {
    background-color: #3b3b3b;
  }
  .dropbtn-categories-dark {
    background-color: #1b1b1b;
  }
  .mobile-menu-tshirt {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    a {
      float: left;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  .mobile-menu-hat {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  .mobile-menu-price {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
