@import "../../style/variables.scss";
.header {
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.header-light {
  background-color: #2c2c2c;
}
.header-dark {
  background-color: #1b1b1b;
}
.nav {
  margin: 0 220px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}
.header-title-light {
  color: aliceblue;
}
.header-title-dark {
  color: aliceblue;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  a {
    padding: 10px 30px;
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      outline: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
.menu-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  a {
    padding: 10px 30px;
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      outline: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
.user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  float: right;
  margin-top: 4px;
  margin-right: 8px;
}
.user-light {
  color: white;
}
.user-dark {
  color: white;
}
.dropbtn {
  background-color: orange;
  color: white;
  padding: 2px;
  border: none;
  display: flex;
  p {
    padding: 8px;

    border-bottom: 1px solid #3a3a3a;
  }
}
.dropdown-button-wrapper {
  display: flex;
  flex-direction: column;
}
.dropdown-content {
  border: 1px solid $light-placeholder-color;
  border-radius: 8px;
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  background-color: $bg-color-dark;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content button:hover {
  background-color: $bg-color-dark;
}
.user:hover .dropdown-content {
  display: block;
}
.user:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
}
.logout-button {
  margin: 0 0 8px 120px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #333333;
  border-radius: 8px;
  &:hover {
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    transform: translateY(-1px);
  }
}
.theme-button {
  margin: 8px 0 8px 120px;
  background-color: $bg-color-dark;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #333333;
  border-radius: 8px;
  &:hover {
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    transform: translateY(-1px);
  }
}
.header-login-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  float: right;
  button {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    background-color: #2c2c2c;
    color: $bg-color-light;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      outline: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
.mobile-menu {
  display: none;
}

@media screen and (max-width: 1550px) {
  .nav {
    margin: 0 120px;
  }
}
@media screen and (max-width: 1050px) {
  .nav {
    margin: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .nav {
    margin: 0 30px;
  }
  .header-title {
    font-size: 18px;
  }
  .user {
    margin-top: 0;
    margin-right: 0;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;
    
  }
  .menu {
    display: none;
  }
  .menu-dark {
    display: none;
  }
  .mobile-menu:hover .dropdown-content {
    display: block;
  }
  .mobile-menu:hover .dropdown-content-mobile {
    display: block;
  }
  .mobile-menu:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.1);
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }
  .dropdown-content {
    top: 22px;
  }
  .dropdown-content-mobile {
    border: 1px solid $light-placeholder-color;
    border-radius: 8px;
    display: none;
    position: absolute;
    top: 50px;
    right: 22px;
    background-color: $bg-color-dark;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropbtn {
    div {
      padding: 8px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .mobile-menu-tshirt {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  .mobile-menu-hat {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  .mobile-menu-price {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
