@import "../../style/variables.scss";
.footer {
  // position: fixed;
  // left: 0;
  bottom: 30px;
  width: 100%;
  height: 160px;
  padding: 0 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-light {
  border-top: 1px solid $light-placeholder-color;
  color: $text-color-1;
}
.footer-dark {
  border-top: 1px solid #3a3a3a;
  background-color: $bg-color-dark;
  color: $white;
}
.footer-upside {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.footer-menu {
  ul {
    li {
      list-style-type: none;
      margin-bottom: 8px;
    }
  }
}
.contact-title {
  font-weight: 700;
  margin-bottom: 8px;
}
.footer-downside {
  // position: fixed;
  // left: 0;
  // bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
  }
}
.footer-downside-light {
  border-top: 1px solid $light-placeholder-color;
  color: $text-color-1;
  background-color: #b6b6b6;
  a {
    color: $text-color-1;
  }
}
.footer-downside-dark {
  border-top: 1px solid #3a3a3a;
  color: $white;
  background-color: #181818;
  a {
    color: $white;
  }
}
@media screen and (max-width:1550px){
  .footer{
    padding: 0 120px;
  }
}
@media screen and (max-width:1050px){
  .footer{
    padding: 0 60px;
  }
}
@media screen and (max-width: 750px) {
  .footer{
    padding: 0 30px;
  }
  .footer-upside{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  .footer-menu{
    ul{
      li{
        font-size: 12px;
      }
    }
  }
  .footer-contact{
    p{
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 550px) {
  .footer{
    padding: 0 10px;
  }
}
