.signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 220px;
  background-color: #1B262C;
}
.form-container{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F4C75;
  border: 1px solid #BBE1FA;
  box-shadow: 0 5px 10px #BBE1FA;
  padding: 40px 100px;
  p{
    text-align: center;
    margin-bottom: 20px;
  }
  form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    input{
      width: 400px;
      border: none;
      outline: none;
      height: 45px;
      margin-bottom: 10px;
      padding: 0 10px;
      font-size: 16px;
      border-radius: 8px;
      background-color: rgba(255,255,255,0.9);
    }
    button{
      background-color: #3282B8;
      height: 45px;
      border: none;
      outline: none;
      border-radius: 8px;
    }
  }
}